sup{
    vertical-align: super;
    font-size: smaller;
}
text{
    color: silver;
}
p1{
color:blue;
}
body{

 color:black;
 background-color: black;
}
#references{

    color:aqua
}